[submodule "8-puzzle-nathancao2"]
	path = 8-puzzle-nathancao2
	url = https://github.com/ChadwickCSA2018-2019/8-puzzle-nathancao2
[submodule "2020-amazeing-recursion-nathancao2"]
	path = 2020-amazeing-recursion-nathancao2
	url = https://github.com/ChadwickCSA2018-2019/2020-amazeing-recursion-nathancao2
[submodule "2020-binary-search-tree-nathancao2"]
	path = 2020-binary-search-tree-nathancao2
	url = https://github.com/ChadwickCSA2018-2019/2020-binary-search-tree-nathancao2
[submodule "2020-grocery-store-simulator-nathancao2"]
	path = 2020-grocery-store-simulator-nathancao2
	url = https://github.com/ChadwickCSA2018-2019/2020-grocery-store-simulator-nathancao2.git
[submodule "2020-percolation-nathancao2"]
	path = 2020-percolation-nathancao2
	url = https://github.com/ChadwickCSA2018-2019/2020-percolation-nathancao2
[submodule "2020-postfix-evaluator-nathancao2"]
	path = 2020-postfix-evaluator-nathancao2
	url = https://github.com/ChadwickCSA2018-2019/2020-postfix-evaluator-nathancao2.git
[submodule "2021-collinear-points-nathancao2"]
	path = 2021-collinear-points-nathancao2
	url = https://github.com/ChadwickCSA2018-2019/2021-collinear-points-nathancao2
[submodule "2021-deques-and-randomized-queues-nathancao2"]
	path = 2021-deques-and-randomized-queues-nathancao2
	url = https://github.com/ChadwickCSA2018-2019/2021-deques-and-randomized-queues-nathancao2.git
[submodule "2021-kd-trees-nathancao2"]
	path = 2021-kd-trees-nathancao2
	url = https://github.com/ChadwickCSA2018-2019/2021-kd-trees-nathancao2
